@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
:root{
    --purple:#600b5f;
    --white:#fff;
    --dark:#1e1c2a;
}
body{
    color: var(--dark);
    background: var(--white);
}
.navigation{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 18px 40px;
    box-shadow: 0 0.1rem 0.5rem #ccc;
    width: 100%;
    background: var(--white);
    transition: all 0.5s;
    position: sticky;
    top: 0;
    z-index: 100;
}
.navigation .logo{
    color: var(--purple);
    font-size: 1.7rem;
    font-weight: 600;
}
.logo span{
    color: var(--dark);
}
.navigation ul{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.navigation ul li a{
    color: var(--dark);
    font-size: 17px;
    font-weight: 500;
    transition: all 0.5s;
}
.navigation ul li a:hover{
    color: var(--purple);
}
.navigation .search-box {
    display: flex;
    width: 300px;
    height: 45px;
    align-items: center;
    background-color: #fff;
    border: 3px solid #1e1c2a;
    border-radius: 20px;
    padding: 4px;
    margin-right: 10px;
    opacity: 0.8;
}
.navigation i{
    font-size: 1.5rem;
}
.navigation .search-button {
    background: none;
    border: none;
    padding: 10px;
}
.navigation .cart-button {
    background: none;
    border: none;
    padding: 10px;
}
.navigation .search-box input {
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 4px;
    width: 150px;
}
.navigation .search-box input::placeholder {
    color: #600b5f;
}  
.navigation .bx-cart{
    border: 3px solid black;
    border-radius: 50%;
    padding: 10px;
}
.menu{
    cursor: pointer;
    display: none;
}
.menu .bar{
    display: block;
    width: 28px;
    height: 3px;
    border-radius: 3px;
    background: var(--dark);
    margin: 5px auto;
    transition: all 0.3s;
}
.menu .bar:nth-child(1),
.menu .bar:nth-child(3){
    background: var(--purple);
}

main {
    padding-top: 0;
  }

#produtos{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
}
#carrinho{
    max-width: 900px;
    margin: 0 auto;
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    flex: 1;
}
.produto-single{
    width: 33.33%;
    padding: 40px 20px;
    margin-bottom: 20px; 
    position: relative;
}
.produto-single img{
    width: 100%;
    height: auto;
    aspect-ratio: 1/1;
    object-fit: cover; 
    object-position: center;
}
.produto-single:hover .add-carrinho {
    opacity: 1;
  }
.produto-single .add-carrinho {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 2.5rem;
    width: 70%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
.produto-single button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.produto-single button:hover {
    background-color: #45a049;
}
.produto-single .detalhes{
    font-size:smaller;
    color: gray;
    display: flex;
    margin-bottom: 6px;
}
.produto-single .detalhes p:not(:last-child) {
    margin-right: 10px;
  }