<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/contato.css">
    <title>Sobre</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="/index.html" class="logo">A<span>mm</span>i M<span>aj</span>u</a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="/views/index.html">Home</a></li>
                <li class="nav-item"><a href="/views/sobre.html">Sobre</a></li>
                <li class="nav-item"><a href="/views/contato.html">Contato</a></li>
                <li class="nav-item"><a href="/views/loja.html">Loja</a></li>
                <i class='bx bx-search'></i>
            </ul>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="contato">
            <div class="titulo">                
                <h1>Como você prefere falar com a gente?</h1>
            </div>
            <div class="opcoes">
                <div class="email">
                    <i class='bx bx-envelope'></i>
                    <h2 class="email-h2">E-mail</h2>
                    <p>Não vamos demorar, promessa é dívida.</p>
                    <a href="#">meuemail@gmail.com</a>
                </div>
                <div class="whatsapp">
                    <i class='bx bxl-whatsapp'></i>
                    <h2 class="whatsapp">Whatsapp</h2>
                    <p>Somente mensagens. Sem ligações ou áudios, por gentileza.</p>
                    <a href="#">link whats</a>
                </div>
                <div class="instagram">
                    <i class='bx bxl-instagram'></i>
                    <h2 class="instagram-h2">Instagram</h2>
                    <p>Aproveita pra seguir e acompanhar nossa seleção toda especial.</p>
                    <a href="#">link instagram</a>
                </div>
            </div>
        </section>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>
