<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/loja.css">
    <title>Loja Ammi Maju</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="/index.html" class="logo">A<span>mm</span>i M<span>aj</span>u</a>
            <ul class="nav-menu">
                <div class="search-box">
                    <button class="search-button" onclick="searchFunction()"><i class='bx bx-search'></i></button>
                    <input type="text" id="searchInput" placeholder="Jaqueta jeans..." onkeypress="handleKeyPress(event)">
                </div>
                <li class="nav-item"><a href="/views/sobre.html">Sobre</a></li>
                <li class="nav-item"><a href="/views/contato.html">Contato</a></li>
                <li class="nav-item"><a href="/views/loja.html">Loja</a></li>
                <button class="cart-button" onclick="goToCarrinho()"><i class='bx bx-cart'></i></button>
            </ul>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>

    <main>
        <div id="produtos">
        </div>
        <div id="carrinho">
        </div>
    </main>
    
    <script src="/js/loja.js"></script>

</body>
</html>
