<!DOCTYPE html>
<html lang="Pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/css/sobre.css">
    <title>Sobre</title>
</head>
<body>
    <header>
        <nav class="navigation">
            <a href="/index.html" class="logo">A<span>mm</span>i M<span>aj</span>u</a>
            <ul class="nav-menu">
                <li class="nav-item"><a href="/views/index.html">Home</a></li>
                <li class="nav-item"><a href="/views/sobre.html">Sobre</a></li>
                <li class="nav-item"><a href="/views/contato.html">Contato</a></li>
                <li class="nav-item"><a href="/views/loja.html">Loja</a></li>
                <i class='bx bx-search'></i>
            </ul>
            <div class="menu">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
            </div>
        </nav>
    </header>
    <main>
        <section class="sobre">
            <div class="sobre-text">
                <h1 class="text-h1">Qualidade e preço baixo</h1>
                <p> Bem-vindo(a) ao Ammi Maju, o seu destino para moda acessível e de qualidade! Aqui, abraçamos a ideia de que estilo não precisa ser caro, e estamos empenhados em oferecer roupas incríveis a preços baixos.

                    No Ammi Maju, acreditamos que cada peça de roupa conta uma história. É por isso que selecionamos cuidadosamente cada item em nosso brechó para garantir que você receba apenas roupas de alta qualidade, sem defeitos e prontas para serem amadas novamente. Nossa equipe é apaixonada por moda e está constantemente à procura das melhores opções para você.
                    
                    Seja qual for o seu estilo, temos algo especial reservado para você. Desde roupas casuais até peças elegantes para ocasiões especiais, nossa coleção é diversificada e sempre atualizada. Dê uma olhada nas nossas prateleiras e descubra uma infinidade de opções que vão desde roupas vintage até as últimas tendências da moda.
                    
                    No Ammi Maju, acreditamos que a moda sustentável é o futuro. Valorizamos a ideia de reutilizar e dar uma segunda chance às roupas, reduzindo assim o impacto ambiental da indústria da moda. Ao comprar em nosso brechó, você está fazendo uma escolha consciente e ajudando a preservar o planeta.
                    
                    Além disso, nossa equipe está sempre pronta para ajudá-lo(a) a encontrar a roupa perfeita. Se você precisar de conselhos de estilo ou tiver alguma dúvida, ficaremos muito felizes em ajudar. Acesse a aba Contato e escolha o melhor canal para falar com a gente.</p>
                </div>
        </section>
    </main>
    <script src="/js/script.js"></script>
</body>
</html>
